body {
    font-family: 'Inter', sans-serif;
    background-color: #caf0f8;
}

#mainNavbar {
    background-color: #48cae4;
}

#navbarText {
    color: #03045e;
    background-color: #00b4d8;
    border: 2px purple solid;
    border-radius: 10px;
    margin: 0 10px;
    padding: 5px 10px;
    font-weight: 700;
}

h1 {
    padding-top: 60px;
    text-align: center;
}

h2 {
    padding-top: 60px;
    padding-bottom: 30px;
}

p {
    font-size: 1.5rem;
}

section {
    padding-bottom: 200px;
}

#projectList li {
    list-style-type: none;

}

#projectList img {
    height: 200px;
    width: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#projectListRow1 {
    padding-bottom: 100px;
}

#projectList a {
    font-size: 1.5rem;
    font-weight: bold;
}
